	body{
		background: url("../imatges/bg.gif");
		font-family: arial;
		padding: 1em 10%;
	}
		.container{
			width: 965px;
			background: white;
			margin: auto;
			border-radius: 25px;
		}
		.top{
			margin-top: 30px;
		}
		.menu{
			float: right;
		}
		.menu li{
			display: inline-block;
			vertical-align: top;
		}
		.menu a{
			color: black;
			text-decoration: none;
			padding: 20px;
		}
		.menu a:hover{
			background-color: #B52025;
		}
		.col{
			width: 265px;
			display: inline-block;
			vertical-align: top;
			text-align: justify;
			padding: 20px;
		}
		.col h2{
			color: #B52025;
		}
		.row{
			text-align: center;
		}
		.footer{
			overflow: hidden;
		}
		.footer a{
			color: black;
			text-decoration: none;
		}
		.footer span{
			float: left;
			margin: 10px 0 0 30px;
		}